
@import url('https://overpass-30e2.kxcdn.com/overpass.css');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Overpass", "sans-serif";
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  color: white;
  width: 50vw;
  line-height: 97%;
  margin-left: 15px;
}
h1,
p {
  flex-basis: 0;
  flex-grow: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
p {
  font-size: 1.5rem;
  width: 40vw;
}
.container {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 1;
}
.content {
  display: flex;
  gap: 5rem;
  width: 80%;
  padding-top: 3rem;
  position: relative;
}
.content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid white;
  transform: scaleX(1);
}

/* .partTwo{
    display: grid;
    place-items: center; 
    /* z-index: 1; 
} */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
section {
  width: 100%;
  height: 100vh;
  display: grid;
  position: inherit;
  z-index: 1;
  scroll-snap-align: center;
  user-select: none;
}
.partThree {
  font-size: 3rem;
  /* text-transform: uppercase; */
  color: white;
  width: 50vw;
  line-height: 97%;
  margin-left: 15px;
}
#payload {
  font-size: 8rem;
  width: 40vw;
  color: white;
  margin: 10px;
}
#title {
  font-size: 2rem;
  margin: 10px;
  color: rgb(4, 48, 46);
}
.cont {
  width: 100%;
  max-width: 500px;
}
h5 {
  color: #eefbfb;
  display: block;
  text-align: center;
  margin-bottom: 35px;
  font-size: 1.5em;
}
.list:empty::before {
  content: "Loading Devices.. ☹️";
  color: #fff;
  font-size: 3em;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  background: #12232e;
  padding: 35px;
  border-radius: 12px;
  border: 1px solid #2d4454;  
  float: left; 
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0 , 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );
  /* display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: wrap column; */
}
.list::-webkit-scrollbar {
  display: none;
}
.list li {
  list-style: none;
  border-bottom: 1px solid #203647; 
  padding-bottom: 25px;
  font-size: 4em;
  color: #eefbfb;
  margin: 10px;
  place-items: center;
}
.list li:last-child {
  border: none;
  padding: 10;
  margin: 10px;
}

#deviceID{
  font-size: 1.5em;
  color: #eefbfb;
}
#temp{
  font-size: 1em;
  color: #eefbfb;
  margin: 5px;
}
#hum{
  font-size: 1em;
  color: #eefbfb;
  margin: 7px;
}
#time{
  font-size: 1em;
  color: #eefbfb;
  margin: 7px;}
#sm{
  font-size: 1em;
  color: #eefbfb;
  margin: 7px;}
.logos{
  background: #fff;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0 , 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19 );
}